body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8f5;
    color: #2f2f2f;
    margin: 0;
    padding:0;
}

header {
    background-color: #1b5e20;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 0.5rem;
    font-style: italic;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

section {
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #2e7d32;
    margin-top: 0;
}

section ul, section ol {
    margin-left: 1.5rem;
}

img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

/* Rodapé */
footer {
    background-color: #004d1a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
